In [1]:
%load_ext autoreload

%autoreload 2

In [2]:
from ajedrez import Game

In [3]:
%%time

game = Game.from_fen()

CPU times: user 185 μs, sys: 11 μs, total: 196 μs
Wall time: 198 μs

In [4]:
game

Board(turn='w', casteling_rights='KQkq', en_passant='-', half_moves=0, move_number=1, stats=Counter({'p': 8, 'P': 8, '/': 7, '8': 4, 'r': 2, 'n': 2, 'b': 2, 'R': 2, 'N': 2, 'B': 2, 'q': 1, 'k': 1, 'Q': 1, 'K': 1}), piece_placement=array([['R', 'N', 'B', 'Q', 'K', 'B', 'N', 'R'],
       ['P', 'P', 'P', 'P', 'P', 'P', 'P', 'P'],
       [' ', ' ', ' ', ' ', ' ', ' ', ' ', ' '],
       [' ', ' ', ' ', ' ', ' ', ' ', ' ', ' '],
       [' ', ' ', ' ', ' ', ' ', ' ', ' ', ' '],
       [' ', ' ', ' ', ' ', ' ', ' ', ' ', ' '],
       ['p', 'p', 'p', 'p', 'p', 'p', 'p', 'p'],
       ['r', 'n', 'b', 'q', 'k', 'b', 'n', 'r']], dtype='<U1'), location_to_piece={(0, 0): R, (0, 1): N, (0, 2): B, (0, 3): Q, (0, 4): K, (0, 5): B, (0, 6): N, (0, 7): R, (1, 0): P, (1, 1): P, (1, 2): P, (1, 3): P, (1, 4): P, (1, 5): P, (1, 6): P, (1, 7): P, (6, 0): p, (6, 1): p, (6, 2): p, (6, 3): p, (6, 4): p, (6, 5): p, (6, 6): p, (6, 7): p, (7, 0): r, (7, 1): n, (7, 2): b, (7, 3): q, (7, 4): k, (7, 5): b, (7, 6): n, (7, 7): r})

In [5]:
game.board.simple_heuristic()

(38.0, 38.0)

In [7]:
import pandas as pd
from IPython.display import display

for m, g in game.available_moves():
    print(m)
    print()
    display(pd.DataFrame(g.board.piece_placement)[::-1])
    print()
    print(g.board.stats)
    print(f'{g.board.turn=}')
    print(f'{g.board.casteling_rights=}')
    print(f'{g.board.en_passant=}')
    print(f'{g.board.half_moves=}')
    print(f'{g.board.move_number=}')
    print(g.board.location_to_piece)

(0, 1, 2, 0, 'N', None)

   0  1  2  3  4  5  6  7
7  r  n  b  q  k  b  n  r
6  p  p  p  p  p  p  p  p
5
4
3
2  N
1  P  P  P  P  P  P  P  P
0  R     B  Q  K  B  N  R

Counter({'p': 8, 'P': 8, '/': 7, '8': 4, 'r': 2, 'n': 2, 'b': 2, 'R': 2, 'N': 2, 'B': 2, 'q': 1, 'k': 1, 'Q': 1, 'K': 1})
g.board.turn='b'
g.board.casteling_rights='KQkq'
g.board.en_passant='-'
g.board.half_moves=1
g.board.move_number=1
{(0, 0): R, (0, 2): B, (0, 3): Q, (0, 4): K, (0, 5): B, (0, 6): N, (0, 7): R, (1, 0): P, (1, 1): P, (1, 2): P, (1, 3): P, (1, 4): P, (1, 5): P, (1, 6): P, (1, 7): P, (6, 0): p, (6, 1): p, (6, 2): p, (6, 3): p, (6, 4): p, (6, 5): p, (6, 6): p, (6, 7): p, (7, 0): r, (7, 1): n, (7, 2): b, (7, 3): q, (7, 4): k, (7, 5): b, (7, 6): n, (7, 7): r, (2, 0): N}
(0, 1, 2, 2, 'N', None)

   0  1  2  3  4  5  6  7
7  r  n  b  q  k  b  n  r
6  p  p  p  p  p  p  p  p
5
4
3
2        N
1  P  P  P  P  P  P  P  P
0  R     B  Q  K  B  N  R

Counter({'p': 8, 'P': 8, '/': 7, '8': 4, 'r': 2, 'n': 2, 'b': 2, 'R': 2, 'N': 2, 'B': 2, 'q': 1, 'k': 1, 'Q': 1, 'K': 1})
g.board.turn='b'
g.board.casteling_rights='KQkq'
g.board.en_passant='-'
g.board.half_moves=1
g.board.move_number=1
{(0, 0): R, (0, 2): B, (0, 3): Q, (0, 4): K, (0, 5): B, (0, 6): N, (0, 7): R, (1, 0): P, (1, 1): P, (1, 2): P, (1, 3): P, (1, 4): P, (1, 5): P, (1, 6): P, (1, 7): P, (6, 0): p, (6, 1): p, (6, 2): p, (6, 3): p, (6, 4): p, (6, 5): p, (6, 6): p, (6, 7): p, (7, 0): r, (7, 1): n, (7, 2): b, (7, 3): q, (7, 4): k, (7, 5): b, (7, 6): n, (7, 7): r, (2, 2): N}
(0, 6, 2, 5, 'N', None)

   0  1  2  3  4  5  6  7
7  r  n  b  q  k  b  n  r
6  p  p  p  p  p  p  p  p
5
4
3
2                 N
1  P  P  P  P  P  P  P  P
0  R  N  B  Q  K  B     R

Counter({'p': 8, 'P': 8, '/': 7, '8': 4, 'r': 2, 'n': 2, 'b': 2, 'R': 2, 'N': 2, 'B': 2, 'q': 1, 'k': 1, 'Q': 1, 'K': 1})
g.board.turn='b'
g.board.casteling_rights='KQkq'
g.board.en_passant='-'
g.board.half_moves=1
g.board.move_number=1
{(0, 0): R, (0, 1): N, (0, 2): B, (0, 3): Q, (0, 4): K, (0, 5): B, (0, 7): R, (1, 0): P, (1, 1): P, (1, 2): P, (1, 3): P, (1, 4): P, (1, 5): P, (1, 6): P, (1, 7): P, (6, 0): p, (6, 1): p, (6, 2): p, (6, 3): p, (6, 4): p, (6, 5): p, (6, 6): p, (6, 7): p, (7, 0): r, (7, 1): n, (7, 2): b, (7, 3): q, (7, 4): k, (7, 5): b, (7, 6): n, (7, 7): r, (2, 5): N}
(0, 6, 2, 7, 'N', None)

   0  1  2  3  4  5  6  7
7  r  n  b  q  k  b  n  r
6  p  p  p  p  p  p  p  p
5
4
3
2                       N
1  P  P  P  P  P  P  P  P
0  R  N  B  Q  K  B     R

Counter({'p': 8, 'P': 8, '/': 7, '8': 4, 'r': 2, 'n': 2, 'b': 2, 'R': 2, 'N': 2, 'B': 2, 'q': 1, 'k': 1, 'Q': 1, 'K': 1})
g.board.turn='b'
g.board.casteling_rights='KQkq'
g.board.en_passant='-'
g.board.half_moves=1
g.board.move_number=1
{(0, 0): R, (0, 1): N, (0, 2): B, (0, 3): Q, (0, 4): K, (0, 5): B, (0, 7): R, (1, 0): P, (1, 1): P, (1, 2): P, (1, 3): P, (1, 4): P, (1, 5): P, (1, 6): P, (1, 7): P, (6, 0): p, (6, 1): p, (6, 2): p, (6, 3): p, (6, 4): p, (6, 5): p, (6, 6): p, (6, 7): p, (7, 0): r, (7, 1): n, (7, 2): b, (7, 3): q, (7, 4): k, (7, 5): b, (7, 6): n, (7, 7): r, (2, 7): N}
(1, 0, 2, 0, 'P', None)

   0  1  2  3  4  5  6  7
7  r  n  b  q  k  b  n  r
6  p  p  p  p  p  p  p  p
5
4
3
2  P
1     P  P  P  P  P  P  P
0  R  N  B  Q  K  B  N  R

Counter({'p': 8, 'P': 8, '/': 7, '8': 4, 'r': 2, 'n': 2, 'b': 2, 'R': 2, 'N': 2, 'B': 2, 'q': 1, 'k': 1, 'Q': 1, 'K': 1})
g.board.turn='b'
g.board.casteling_rights='KQkq'
g.board.en_passant='-'
g.board.half_moves=0
g.board.move_number=1
{(0, 0): R, (0, 1): N, (0, 2): B, (0, 3): Q, (0, 4): K, (0, 5): B, (0, 6): N, (0, 7): R, (1, 1): P, (1, 2): P, (1, 3): P, (1, 4): P, (1, 5): P, (1, 6): P, (1, 7): P, (6, 0): p, (6, 1): p, (6, 2): p, (6, 3): p, (6, 4): p, (6, 5): p, (6, 6): p, (6, 7): p, (7, 0): r, (7, 1): n, (7, 2): b, (7, 3): q, (7, 4): k, (7, 5): b, (7, 6): n, (7, 7): r, (2, 0): P}
(1, 0, 3, 0, 'P', None)

   0  1  2  3  4  5  6  7
7  r  n  b  q  k  b  n  r
6  p  p  p  p  p  p  p  p
5
4
3  P
2
1     P  P  P  P  P  P  P
0  R  N  B  Q  K  B  N  R

Counter({'p': 8, 'P': 8, '/': 7, '8': 4, 'r': 2, 'n': 2, 'b': 2, 'R': 2, 'N': 2, 'B': 2, 'q': 1, 'k': 1, 'Q': 1, 'K': 1})
g.board.turn='b'
g.board.casteling_rights='KQkq'
g.board.en_passant='a'
g.board.half_moves=0
g.board.move_number=1
{(0, 0): R, (0, 1): N, (0, 2): B, (0, 3): Q, (0, 4): K, (0, 5): B, (0, 6): N, (0, 7): R, (1, 1): P, (1, 2): P, (1, 3): P, (1, 4): P, (1, 5): P, (1, 6): P, (1, 7): P, (6, 0): p, (6, 1): p, (6, 2): p, (6, 3): p, (6, 4): p, (6, 5): p, (6, 6): p, (6, 7): p, (7, 0): r, (7, 1): n, (7, 2): b, (7, 3): q, (7, 4): k, (7, 5): b, (7, 6): n, (7, 7): r, (3, 0): P}
(1, 1, 2, 1, 'P', None)

   0  1  2  3  4  5  6  7
7  r  n  b  q  k  b  n  r
6  p  p  p  p  p  p  p  p
5
4
3
2     P
1  P     P  P  P  P  P  P
0  R  N  B  Q  K  B  N  R

Counter({'p': 8, 'P': 8, '/': 7, '8': 4, 'r': 2, 'n': 2, 'b': 2, 'R': 2, 'N': 2, 'B': 2, 'q': 1, 'k': 1, 'Q': 1, 'K': 1})
g.board.turn='b'
g.board.casteling_rights='KQkq'
g.board.en_passant='-'
g.board.half_moves=0
g.board.move_number=1
{(0, 0): R, (0, 1): N, (0, 2): B, (0, 3): Q, (0, 4): K, (0, 5): B, (0, 6): N, (0, 7): R, (1, 0): P, (1, 2): P, (1, 3): P, (1, 4): P, (1, 5): P, (1, 6): P, (1, 7): P, (6, 0): p, (6, 1): p, (6, 2): p, (6, 3): p, (6, 4): p, (6, 5): p, (6, 6): p, (6, 7): p, (7, 0): r, (7, 1): n, (7, 2): b, (7, 3): q, (7, 4): k, (7, 5): b, (7, 6): n, (7, 7): r, (2, 1): P}
(1, 1, 3, 1, 'P', None)

   0  1  2  3  4  5  6  7
7  r  n  b  q  k  b  n  r
6  p  p  p  p  p  p  p  p
5
4
3     P
2
1  P     P  P  P  P  P  P
0  R  N  B  Q  K  B  N  R

Counter({'p': 8, 'P': 8, '/': 7, '8': 4, 'r': 2, 'n': 2, 'b': 2, 'R': 2, 'N': 2, 'B': 2, 'q': 1, 'k': 1, 'Q': 1, 'K': 1})
g.board.turn='b'
g.board.casteling_rights='KQkq'
g.board.en_passant='b'
g.board.half_moves=0
g.board.move_number=1
{(0, 0): R, (0, 1): N, (0, 2): B, (0, 3): Q, (0, 4): K, (0, 5): B, (0, 6): N, (0, 7): R, (1, 0): P, (1, 2): P, (1, 3): P, (1, 4): P, (1, 5): P, (1, 6): P, (1, 7): P, (6, 0): p, (6, 1): p, (6, 2): p, (6, 3): p, (6, 4): p, (6, 5): p, (6, 6): p, (6, 7): p, (7, 0): r, (7, 1): n, (7, 2): b, (7, 3): q, (7, 4): k, (7, 5): b, (7, 6): n, (7, 7): r, (3, 1): P}
(1, 2, 2, 2, 'P', None)

   0  1  2  3  4  5  6  7
7  r  n  b  q  k  b  n  r
6  p  p  p  p  p  p  p  p
5
4
3
2        P
1  P  P     P  P  P  P  P
0  R  N  B  Q  K  B  N  R

Counter({'p': 8, 'P': 8, '/': 7, '8': 4, 'r': 2, 'n': 2, 'b': 2, 'R': 2, 'N': 2, 'B': 2, 'q': 1, 'k': 1, 'Q': 1, 'K': 1})
g.board.turn='b'
g.board.casteling_rights='KQkq'
g.board.en_passant='-'
g.board.half_moves=0
g.board.move_number=1
{(0, 0): R, (0, 1): N, (0, 2): B, (0, 3): Q, (0, 4): K, (0, 5): B, (0, 6): N, (0, 7): R, (1, 0): P, (1, 1): P, (1, 3): P, (1, 4): P, (1, 5): P, (1, 6): P, (1, 7): P, (6, 0): p, (6, 1): p, (6, 2): p, (6, 3): p, (6, 4): p, (6, 5): p, (6, 6): p, (6, 7): p, (7, 0): r, (7, 1): n, (7, 2): b, (7, 3): q, (7, 4): k, (7, 5): b, (7, 6): n, (7, 7): r, (2, 2): P}
(1, 2, 3, 2, 'P', None)

   0  1  2  3  4  5  6  7
7  r  n  b  q  k  b  n  r
6  p  p  p  p  p  p  p  p
5
4
3        P
2
1  P  P     P  P  P  P  P
0  R  N  B  Q  K  B  N  R

Counter({'p': 8, 'P': 8, '/': 7, '8': 4, 'r': 2, 'n': 2, 'b': 2, 'R': 2, 'N': 2, 'B': 2, 'q': 1, 'k': 1, 'Q': 1, 'K': 1})
g.board.turn='b'
g.board.casteling_rights='KQkq'
g.board.en_passant='c'
g.board.half_moves=0
g.board.move_number=1
{(0, 0): R, (0, 1): N, (0, 2): B, (0, 3): Q, (0, 4): K, (0, 5): B, (0, 6): N, (0, 7): R, (1, 0): P, (1, 1): P, (1, 3): P, (1, 4): P, (1, 5): P, (1, 6): P, (1, 7): P, (6, 0): p, (6, 1): p, (6, 2): p, (6, 3): p, (6, 4): p, (6, 5): p, (6, 6): p, (6, 7): p, (7, 0): r, (7, 1): n, (7, 2): b, (7, 3): q, (7, 4): k, (7, 5): b, (7, 6): n, (7, 7): r, (3, 2): P}
(1, 3, 2, 3, 'P', None)

   0  1  2  3  4  5  6  7
7  r  n  b  q  k  b  n  r
6  p  p  p  p  p  p  p  p
5
4
3
2           P
1  P  P  P     P  P  P  P
0  R  N  B  Q  K  B  N  R

Counter({'p': 8, 'P': 8, '/': 7, '8': 4, 'r': 2, 'n': 2, 'b': 2, 'R': 2, 'N': 2, 'B': 2, 'q': 1, 'k': 1, 'Q': 1, 'K': 1})
g.board.turn='b'
g.board.casteling_rights='KQkq'
g.board.en_passant='-'
g.board.half_moves=0
g.board.move_number=1
{(0, 0): R, (0, 1): N, (0, 2): B, (0, 3): Q, (0, 4): K, (0, 5): B, (0, 6): N, (0, 7): R, (1, 0): P, (1, 1): P, (1, 2): P, (1, 4): P, (1, 5): P, (1, 6): P, (1, 7): P, (6, 0): p, (6, 1): p, (6, 2): p, (6, 3): p, (6, 4): p, (6, 5): p, (6, 6): p, (6, 7): p, (7, 0): r, (7, 1): n, (7, 2): b, (7, 3): q, (7, 4): k, (7, 5): b, (7, 6): n, (7, 7): r, (2, 3): P}
(1, 3, 3, 3, 'P', None)

   0  1  2  3  4  5  6  7
7  r  n  b  q  k  b  n  r
6  p  p  p  p  p  p  p  p
5
4
3           P
2
1  P  P  P     P  P  P  P
0  R  N  B  Q  K  B  N  R

Counter({'p': 8, 'P': 8, '/': 7, '8': 4, 'r': 2, 'n': 2, 'b': 2, 'R': 2, 'N': 2, 'B': 2, 'q': 1, 'k': 1, 'Q': 1, 'K': 1})
g.board.turn='b'
g.board.casteling_rights='KQkq'
g.board.en_passant='d'
g.board.half_moves=0
g.board.move_number=1
{(0, 0): R, (0, 1): N, (0, 2): B, (0, 3): Q, (0, 4): K, (0, 5): B, (0, 6): N, (0, 7): R, (1, 0): P, (1, 1): P, (1, 2): P, (1, 4): P, (1, 5): P, (1, 6): P, (1, 7): P, (6, 0): p, (6, 1): p, (6, 2): p, (6, 3): p, (6, 4): p, (6, 5): p, (6, 6): p, (6, 7): p, (7, 0): r, (7, 1): n, (7, 2): b, (7, 3): q, (7, 4): k, (7, 5): b, (7, 6): n, (7, 7): r, (3, 3): P}
(1, 4, 2, 4, 'P', None)

   0  1  2  3  4  5  6  7
7  r  n  b  q  k  b  n  r
6  p  p  p  p  p  p  p  p
5
4
3
2              P
1  P  P  P  P     P  P  P
0  R  N  B  Q  K  B  N  R

Counter({'p': 8, 'P': 8, '/': 7, '8': 4, 'r': 2, 'n': 2, 'b': 2, 'R': 2, 'N': 2, 'B': 2, 'q': 1, 'k': 1, 'Q': 1, 'K': 1})
g.board.turn='b'
g.board.casteling_rights='KQkq'
g.board.en_passant='-'
g.board.half_moves=0
g.board.move_number=1
{(0, 0): R, (0, 1): N, (0, 2): B, (0, 3): Q, (0, 4): K, (0, 5): B, (0, 6): N, (0, 7): R, (1, 0): P, (1, 1): P, (1, 2): P, (1, 3): P, (1, 5): P, (1, 6): P, (1, 7): P, (6, 0): p, (6, 1): p, (6, 2): p, (6, 3): p, (6, 4): p, (6, 5): p, (6, 6): p, (6, 7): p, (7, 0): r, (7, 1): n, (7, 2): b, (7, 3): q, (7, 4): k, (7, 5): b, (7, 6): n, (7, 7): r, (2, 4): P}
(1, 4, 3, 4, 'P', None)

   0  1  2  3  4  5  6  7
7  r  n  b  q  k  b  n  r
6  p  p  p  p  p  p  p  p
5
4
3              P
2
1  P  P  P  P     P  P  P
0  R  N  B  Q  K  B  N  R

Counter({'p': 8, 'P': 8, '/': 7, '8': 4, 'r': 2, 'n': 2, 'b': 2, 'R': 2, 'N': 2, 'B': 2, 'q': 1, 'k': 1, 'Q': 1, 'K': 1})
g.board.turn='b'
g.board.casteling_rights='KQkq'
g.board.en_passant='e'
g.board.half_moves=0
g.board.move_number=1
{(0, 0): R, (0, 1): N, (0, 2): B, (0, 3): Q, (0, 4): K, (0, 5): B, (0, 6): N, (0, 7): R, (1, 0): P, (1, 1): P, (1, 2): P, (1, 3): P, (1, 5): P, (1, 6): P, (1, 7): P, (6, 0): p, (6, 1): p, (6, 2): p, (6, 3): p, (6, 4): p, (6, 5): p, (6, 6): p, (6, 7): p, (7, 0): r, (7, 1): n, (7, 2): b, (7, 3): q, (7, 4): k, (7, 5): b, (7, 6): n, (7, 7): r, (3, 4): P}
(1, 5, 2, 5, 'P', None)

   0  1  2  3  4  5  6  7
7  r  n  b  q  k  b  n  r
6  p  p  p  p  p  p  p  p
5
4
3
2                 P
1  P  P  P  P  P     P  P
0  R  N  B  Q  K  B  N  R

Counter({'p': 8, 'P': 8, '/': 7, '8': 4, 'r': 2, 'n': 2, 'b': 2, 'R': 2, 'N': 2, 'B': 2, 'q': 1, 'k': 1, 'Q': 1, 'K': 1})
g.board.turn='b'
g.board.casteling_rights='KQkq'
g.board.en_passant='-'
g.board.half_moves=0
g.board.move_number=1
{(0, 0): R, (0, 1): N, (0, 2): B, (0, 3): Q, (0, 4): K, (0, 5): B, (0, 6): N, (0, 7): R, (1, 0): P, (1, 1): P, (1, 2): P, (1, 3): P, (1, 4): P, (1, 6): P, (1, 7): P, (6, 0): p, (6, 1): p, (6, 2): p, (6, 3): p, (6, 4): p, (6, 5): p, (6, 6): p, (6, 7): p, (7, 0): r, (7, 1): n, (7, 2): b, (7, 3): q, (7, 4): k, (7, 5): b, (7, 6): n, (7, 7): r, (2, 5): P}
(1, 5, 3, 5, 'P', None)

   0  1  2  3  4  5  6  7
7  r  n  b  q  k  b  n  r
6  p  p  p  p  p  p  p  p
5
4
3                 P
2
1  P  P  P  P  P     P  P
0  R  N  B  Q  K  B  N  R

Counter({'p': 8, 'P': 8, '/': 7, '8': 4, 'r': 2, 'n': 2, 'b': 2, 'R': 2, 'N': 2, 'B': 2, 'q': 1, 'k': 1, 'Q': 1, 'K': 1})
g.board.turn='b'
g.board.casteling_rights='KQkq'
g.board.en_passant='f'
g.board.half_moves=0
g.board.move_number=1
{(0, 0): R, (0, 1): N, (0, 2): B, (0, 3): Q, (0, 4): K, (0, 5): B, (0, 6): N, (0, 7): R, (1, 0): P, (1, 1): P, (1, 2): P, (1, 3): P, (1, 4): P, (1, 6): P, (1, 7): P, (6, 0): p, (6, 1): p, (6, 2): p, (6, 3): p, (6, 4): p, (6, 5): p, (6, 6): p, (6, 7): p, (7, 0): r, (7, 1): n, (7, 2): b, (7, 3): q, (7, 4): k, (7, 5): b, (7, 6): n, (7, 7): r, (3, 5): P}
(1, 6, 2, 6, 'P', None)

   0  1  2  3  4  5  6  7
7  r  n  b  q  k  b  n  r
6  p  p  p  p  p  p  p  p
5
4
3
2                    P
1  P  P  P  P  P  P     P
0  R  N  B  Q  K  B  N  R

Counter({'p': 8, 'P': 8, '/': 7, '8': 4, 'r': 2, 'n': 2, 'b': 2, 'R': 2, 'N': 2, 'B': 2, 'q': 1, 'k': 1, 'Q': 1, 'K': 1})
g.board.turn='b'
g.board.casteling_rights='KQkq'
g.board.en_passant='-'
g.board.half_moves=0
g.board.move_number=1
{(0, 0): R, (0, 1): N, (0, 2): B, (0, 3): Q, (0, 4): K, (0, 5): B, (0, 6): N, (0, 7): R, (1, 0): P, (1, 1): P, (1, 2): P, (1, 3): P, (1, 4): P, (1, 5): P, (1, 7): P, (6, 0): p, (6, 1): p, (6, 2): p, (6, 3): p, (6, 4): p, (6, 5): p, (6, 6): p, (6, 7): p, (7, 0): r, (7, 1): n, (7, 2): b, (7, 3): q, (7, 4): k, (7, 5): b, (7, 6): n, (7, 7): r, (2, 6): P}
(1, 6, 3, 6, 'P', None)

   0  1  2  3  4  5  6  7
7  r  n  b  q  k  b  n  r
6  p  p  p  p  p  p  p  p
5
4
3                    P
2
1  P  P  P  P  P  P     P
0  R  N  B  Q  K  B  N  R

Counter({'p': 8, 'P': 8, '/': 7, '8': 4, 'r': 2, 'n': 2, 'b': 2, 'R': 2, 'N': 2, 'B': 2, 'q': 1, 'k': 1, 'Q': 1, 'K': 1})
g.board.turn='b'
g.board.casteling_rights='KQkq'
g.board.en_passant='g'
g.board.half_moves=0
g.board.move_number=1
{(0, 0): R, (0, 1): N, (0, 2): B, (0, 3): Q, (0, 4): K, (0, 5): B, (0, 6): N, (0, 7): R, (1, 0): P, (1, 1): P, (1, 2): P, (1, 3): P, (1, 4): P, (1, 5): P, (1, 7): P, (6, 0): p, (6, 1): p, (6, 2): p, (6, 3): p, (6, 4): p, (6, 5): p, (6, 6): p, (6, 7): p, (7, 0): r, (7, 1): n, (7, 2): b, (7, 3): q, (7, 4): k, (7, 5): b, (7, 6): n, (7, 7): r, (3, 6): P}
(1, 7, 2, 7, 'P', None)

   0  1  2  3  4  5  6  7
7  r  n  b  q  k  b  n  r
6  p  p  p  p  p  p  p  p
5
4
3
2                       P
1  P  P  P  P  P  P  P
0  R  N  B  Q  K  B  N  R

Counter({'p': 8, 'P': 8, '/': 7, '8': 4, 'r': 2, 'n': 2, 'b': 2, 'R': 2, 'N': 2, 'B': 2, 'q': 1, 'k': 1, 'Q': 1, 'K': 1})
g.board.turn='b'
g.board.casteling_rights='KQkq'
g.board.en_passant='-'
g.board.half_moves=0
g.board.move_number=1
{(0, 0): R, (0, 1): N, (0, 2): B, (0, 3): Q, (0, 4): K, (0, 5): B, (0, 6): N, (0, 7): R, (1, 0): P, (1, 1): P, (1, 2): P, (1, 3): P, (1, 4): P, (1, 5): P, (1, 6): P, (6, 0): p, (6, 1): p, (6, 2): p, (6, 3): p, (6, 4): p, (6, 5): p, (6, 6): p, (6, 7): p, (7, 0): r, (7, 1): n, (7, 2): b, (7, 3): q, (7, 4): k, (7, 5): b, (7, 6): n, (7, 7): r, (2, 7): P}
(1, 7, 3, 7, 'P', None)

   0  1  2  3  4  5  6  7
7  r  n  b  q  k  b  n  r
6  p  p  p  p  p  p  p  p
5
4
3                       P
2
1  P  P  P  P  P  P  P
0  R  N  B  Q  K  B  N  R

Counter({'p': 8, 'P': 8, '/': 7, '8': 4, 'r': 2, 'n': 2, 'b': 2, 'R': 2, 'N': 2, 'B': 2, 'q': 1, 'k': 1, 'Q': 1, 'K': 1})
g.board.turn='b'
g.board.casteling_rights='KQkq'
g.board.en_passant='h'
g.board.half_moves=0
g.board.move_number=1
{(0, 0): R, (0, 1): N, (0, 2): B, (0, 3): Q, (0, 4): K, (0, 5): B, (0, 6): N, (0, 7): R, (1, 0): P, (1, 1): P, (1, 2): P, (1, 3): P, (1, 4): P, (1, 5): P, (1, 6): P, (6, 0): p, (6, 1): p, (6, 2): p, (6, 3): p, (6, 4): p, (6, 5): p, (6, 6): p, (6, 7): p, (7, 0): r, (7, 1): n, (7, 2): b, (7, 3): q, (7, 4): k, (7, 5): b, (7, 6): n, (7, 7): r, (3, 7): P}

In [8]:
%%time

for m, g in game.available_moves():
    print(m)

(0, 1, 2, 0, 'N', None)
(0, 1, 2, 2, 'N', None)
(0, 6, 2, 5, 'N', None)
(0, 6, 2, 7, 'N', None)
(1, 0, 2, 0, 'P', None)
(1, 0, 3, 0, 'P', None)
(1, 1, 2, 1, 'P', None)
(1, 1, 3, 1, 'P', None)
(1, 2, 2, 2, 'P', None)
(1, 2, 3, 2, 'P', None)
(1, 3, 2, 3, 'P', None)
(1, 3, 3, 3, 'P', None)
(1, 4, 2, 4, 'P', None)
(1, 4, 3, 4, 'P', None)
(1, 5, 2, 5, 'P', None)
(1, 5, 3, 5, 'P', None)
(1, 6, 2, 6, 'P', None)
(1, 6, 3, 6, 'P', None)
(1, 7, 2, 7, 'P', None)
(1, 7, 3, 7, 'P', None)
CPU times: user 2.96 ms, sys: 744 μs, total: 3.7 ms
Wall time: 3.69 ms