In [1]:
%load_ext autoreload

%autoreload 2

In [2]:
from ajedrez import Game

In [3]:
%%time

game = Game.from_fen()

CPU times: user 5.8 ms, sys: 760 μs, total: 6.56 ms
Wall time: 198 μs

In [4]:
game

Board(turn='w', casteling_rights='KQkq', en_passant='-', half_moves=0, move_number=1, stats=Counter({'p': 8, 'P': 8, '/': 7, '8': 4, 'r': 2, 'n': 2, 'b': 2, 'R': 2, 'N': 2, 'B': 2, 'q': 1, 'k': 1, 'Q': 1, 'K': 1}), piece_placement=array([['R', 'N', 'B', 'Q', 'K', 'B', 'N', 'R'],
       ['P', 'P', 'P', 'P', 'P', 'P', 'P', 'P'],
       [' ', ' ', ' ', ' ', ' ', ' ', ' ', ' '],
       [' ', ' ', ' ', ' ', ' ', ' ', ' ', ' '],
       [' ', ' ', ' ', ' ', ' ', ' ', ' ', ' '],
       [' ', ' ', ' ', ' ', ' ', ' ', ' ', ' '],
       ['p', 'p', 'p', 'p', 'p', 'p', 'p', 'p'],
       ['r', 'n', 'b', 'q', 'k', 'b', 'n', 'r']], dtype='<U1'), location_to_piece={(0, 0): R, (0, 1): N, (0, 2): B, (0, 3): Q, (0, 4): K, (0, 5): B, (0, 6): N, (0, 7): R, (1, 0): P, (1, 1): P, (1, 2): P, (1, 3): P, (1, 4): P, (1, 5): P, (1, 6): P, (1, 7): P, (6, 0): p, (6, 1): p, (6, 2): p, (6, 3): p, (6, 4): p, (6, 5): p, (6, 6): p, (6, 7): p, (7, 0): r, (7, 1): n, (7, 2): b, (7, 3): q, (7, 4): k, (7, 5): b, (7, 6): n, (7, 7): r})

In [5]:
game.board.simple_heuristic()

(38.0, 38.0)

In [6]:
import pandas as pd
from IPython.display import display

for m, g in game.available_moves():
    print(m)
    print()
    df = pd.DataFrame(g.board.piece_placement, columns=list('abcdefgh'), index=range(1, 8 + 1))
    display(df[::-1])
    print()
    print(g.board.stats)
    print(f'{g.board.turn=}')
    print(f'{g.board.casteling_rights=}')
    print(f'{g.board.en_passant=}')
    print(f'{g.board.half_moves=}')
    print(f'{g.board.move_number=}')
    print(g.board.location_to_piece)
    print()

b1a3

   a  b  c  d  e  f  g  h
8  r  n  b  q  k  b  n  r
7  p  p  p  p  p  p  p  p
6
5
4
3  N
2  P  P  P  P  P  P  P  P
1  R     B  Q  K  B  N  R

Counter({'p': 8, 'P': 8, '/': 7, '8': 4, 'r': 2, 'n': 2, 'b': 2, 'R': 2, 'N': 2, 'B': 2, 'q': 1, 'k': 1, 'Q': 1, 'K': 1})
g.board.turn='b'
g.board.casteling_rights='KQkq'
g.board.en_passant='-'
g.board.half_moves=1
g.board.move_number=1
{(0, 0): R, (0, 2): B, (0, 3): Q, (0, 4): K, (0, 5): B, (0, 6): N, (0, 7): R, (1, 0): P, (1, 1): P, (1, 2): P, (1, 3): P, (1, 4): P, (1, 5): P, (1, 6): P, (1, 7): P, (6, 0): p, (6, 1): p, (6, 2): p, (6, 3): p, (6, 4): p, (6, 5): p, (6, 6): p, (6, 7): p, (7, 0): r, (7, 1): n, (7, 2): b, (7, 3): q, (7, 4): k, (7, 5): b, (7, 6): n, (7, 7): r, (2, 0): N}

b1c3

   a  b  c  d  e  f  g  h
8  r  n  b  q  k  b  n  r
7  p  p  p  p  p  p  p  p
6
5
4
3        N
2  P  P  P  P  P  P  P  P
1  R     B  Q  K  B  N  R

Counter({'p': 8, 'P': 8, '/': 7, '8': 4, 'r': 2, 'n': 2, 'b': 2, 'R': 2, 'N': 2, 'B': 2, 'q': 1, 'k': 1, 'Q': 1, 'K': 1})
g.board.turn='b'
g.board.casteling_rights='KQkq'
g.board.en_passant='-'
g.board.half_moves=1
g.board.move_number=1
{(0, 0): R, (0, 2): B, (0, 3): Q, (0, 4): K, (0, 5): B, (0, 6): N, (0, 7): R, (1, 0): P, (1, 1): P, (1, 2): P, (1, 3): P, (1, 4): P, (1, 5): P, (1, 6): P, (1, 7): P, (6, 0): p, (6, 1): p, (6, 2): p, (6, 3): p, (6, 4): p, (6, 5): p, (6, 6): p, (6, 7): p, (7, 0): r, (7, 1): n, (7, 2): b, (7, 3): q, (7, 4): k, (7, 5): b, (7, 6): n, (7, 7): r, (2, 2): N}

g1f3

   a  b  c  d  e  f  g  h
8  r  n  b  q  k  b  n  r
7  p  p  p  p  p  p  p  p
6
5
4
3                 N
2  P  P  P  P  P  P  P  P
1  R  N  B  Q  K  B     R

Counter({'p': 8, 'P': 8, '/': 7, '8': 4, 'r': 2, 'n': 2, 'b': 2, 'R': 2, 'N': 2, 'B': 2, 'q': 1, 'k': 1, 'Q': 1, 'K': 1})
g.board.turn='b'
g.board.casteling_rights='KQkq'
g.board.en_passant='-'
g.board.half_moves=1
g.board.move_number=1
{(0, 0): R, (0, 1): N, (0, 2): B, (0, 3): Q, (0, 4): K, (0, 5): B, (0, 7): R, (1, 0): P, (1, 1): P, (1, 2): P, (1, 3): P, (1, 4): P, (1, 5): P, (1, 6): P, (1, 7): P, (6, 0): p, (6, 1): p, (6, 2): p, (6, 3): p, (6, 4): p, (6, 5): p, (6, 6): p, (6, 7): p, (7, 0): r, (7, 1): n, (7, 2): b, (7, 3): q, (7, 4): k, (7, 5): b, (7, 6): n, (7, 7): r, (2, 5): N}

g1h3

   a  b  c  d  e  f  g  h
8  r  n  b  q  k  b  n  r
7  p  p  p  p  p  p  p  p
6
5
4
3                       N
2  P  P  P  P  P  P  P  P
1  R  N  B  Q  K  B     R

Counter({'p': 8, 'P': 8, '/': 7, '8': 4, 'r': 2, 'n': 2, 'b': 2, 'R': 2, 'N': 2, 'B': 2, 'q': 1, 'k': 1, 'Q': 1, 'K': 1})
g.board.turn='b'
g.board.casteling_rights='KQkq'
g.board.en_passant='-'
g.board.half_moves=1
g.board.move_number=1
{(0, 0): R, (0, 1): N, (0, 2): B, (0, 3): Q, (0, 4): K, (0, 5): B, (0, 7): R, (1, 0): P, (1, 1): P, (1, 2): P, (1, 3): P, (1, 4): P, (1, 5): P, (1, 6): P, (1, 7): P, (6, 0): p, (6, 1): p, (6, 2): p, (6, 3): p, (6, 4): p, (6, 5): p, (6, 6): p, (6, 7): p, (7, 0): r, (7, 1): n, (7, 2): b, (7, 3): q, (7, 4): k, (7, 5): b, (7, 6): n, (7, 7): r, (2, 7): N}

a2a3

   a  b  c  d  e  f  g  h
8  r  n  b  q  k  b  n  r
7  p  p  p  p  p  p  p  p
6
5
4
3  P
2     P  P  P  P  P  P  P
1  R  N  B  Q  K  B  N  R

Counter({'p': 8, 'P': 8, '/': 7, '8': 4, 'r': 2, 'n': 2, 'b': 2, 'R': 2, 'N': 2, 'B': 2, 'q': 1, 'k': 1, 'Q': 1, 'K': 1})
g.board.turn='b'
g.board.casteling_rights='KQkq'
g.board.en_passant='-'
g.board.half_moves=0
g.board.move_number=1
{(0, 0): R, (0, 1): N, (0, 2): B, (0, 3): Q, (0, 4): K, (0, 5): B, (0, 6): N, (0, 7): R, (1, 1): P, (1, 2): P, (1, 3): P, (1, 4): P, (1, 5): P, (1, 6): P, (1, 7): P, (6, 0): p, (6, 1): p, (6, 2): p, (6, 3): p, (6, 4): p, (6, 5): p, (6, 6): p, (6, 7): p, (7, 0): r, (7, 1): n, (7, 2): b, (7, 3): q, (7, 4): k, (7, 5): b, (7, 6): n, (7, 7): r, (2, 0): P}

a2a4

   a  b  c  d  e  f  g  h
8  r  n  b  q  k  b  n  r
7  p  p  p  p  p  p  p  p
6
5
4  P
3
2     P  P  P  P  P  P  P
1  R  N  B  Q  K  B  N  R

Counter({'p': 8, 'P': 8, '/': 7, '8': 4, 'r': 2, 'n': 2, 'b': 2, 'R': 2, 'N': 2, 'B': 2, 'q': 1, 'k': 1, 'Q': 1, 'K': 1})
g.board.turn='b'
g.board.casteling_rights='KQkq'
g.board.en_passant='a3'
g.board.half_moves=0
g.board.move_number=1
{(0, 0): R, (0, 1): N, (0, 2): B, (0, 3): Q, (0, 4): K, (0, 5): B, (0, 6): N, (0, 7): R, (1, 1): P, (1, 2): P, (1, 3): P, (1, 4): P, (1, 5): P, (1, 6): P, (1, 7): P, (6, 0): p, (6, 1): p, (6, 2): p, (6, 3): p, (6, 4): p, (6, 5): p, (6, 6): p, (6, 7): p, (7, 0): r, (7, 1): n, (7, 2): b, (7, 3): q, (7, 4): k, (7, 5): b, (7, 6): n, (7, 7): r, (3, 0): P}

b2b3

   a  b  c  d  e  f  g  h
8  r  n  b  q  k  b  n  r
7  p  p  p  p  p  p  p  p
6
5
4
3     P
2  P     P  P  P  P  P  P
1  R  N  B  Q  K  B  N  R

Counter({'p': 8, 'P': 8, '/': 7, '8': 4, 'r': 2, 'n': 2, 'b': 2, 'R': 2, 'N': 2, 'B': 2, 'q': 1, 'k': 1, 'Q': 1, 'K': 1})
g.board.turn='b'
g.board.casteling_rights='KQkq'
g.board.en_passant='-'
g.board.half_moves=0
g.board.move_number=1
{(0, 0): R, (0, 1): N, (0, 2): B, (0, 3): Q, (0, 4): K, (0, 5): B, (0, 6): N, (0, 7): R, (1, 0): P, (1, 2): P, (1, 3): P, (1, 4): P, (1, 5): P, (1, 6): P, (1, 7): P, (6, 0): p, (6, 1): p, (6, 2): p, (6, 3): p, (6, 4): p, (6, 5): p, (6, 6): p, (6, 7): p, (7, 0): r, (7, 1): n, (7, 2): b, (7, 3): q, (7, 4): k, (7, 5): b, (7, 6): n, (7, 7): r, (2, 1): P}

b2b4

   a  b  c  d  e  f  g  h
8  r  n  b  q  k  b  n  r
7  p  p  p  p  p  p  p  p
6
5
4     P
3
2  P     P  P  P  P  P  P
1  R  N  B  Q  K  B  N  R

Counter({'p': 8, 'P': 8, '/': 7, '8': 4, 'r': 2, 'n': 2, 'b': 2, 'R': 2, 'N': 2, 'B': 2, 'q': 1, 'k': 1, 'Q': 1, 'K': 1})
g.board.turn='b'
g.board.casteling_rights='KQkq'
g.board.en_passant='b3'
g.board.half_moves=0
g.board.move_number=1
{(0, 0): R, (0, 1): N, (0, 2): B, (0, 3): Q, (0, 4): K, (0, 5): B, (0, 6): N, (0, 7): R, (1, 0): P, (1, 2): P, (1, 3): P, (1, 4): P, (1, 5): P, (1, 6): P, (1, 7): P, (6, 0): p, (6, 1): p, (6, 2): p, (6, 3): p, (6, 4): p, (6, 5): p, (6, 6): p, (6, 7): p, (7, 0): r, (7, 1): n, (7, 2): b, (7, 3): q, (7, 4): k, (7, 5): b, (7, 6): n, (7, 7): r, (3, 1): P}

c2c3

   a  b  c  d  e  f  g  h
8  r  n  b  q  k  b  n  r
7  p  p  p  p  p  p  p  p
6
5
4
3        P
2  P  P     P  P  P  P  P
1  R  N  B  Q  K  B  N  R

Counter({'p': 8, 'P': 8, '/': 7, '8': 4, 'r': 2, 'n': 2, 'b': 2, 'R': 2, 'N': 2, 'B': 2, 'q': 1, 'k': 1, 'Q': 1, 'K': 1})
g.board.turn='b'
g.board.casteling_rights='KQkq'
g.board.en_passant='-'
g.board.half_moves=0
g.board.move_number=1
{(0, 0): R, (0, 1): N, (0, 2): B, (0, 3): Q, (0, 4): K, (0, 5): B, (0, 6): N, (0, 7): R, (1, 0): P, (1, 1): P, (1, 3): P, (1, 4): P, (1, 5): P, (1, 6): P, (1, 7): P, (6, 0): p, (6, 1): p, (6, 2): p, (6, 3): p, (6, 4): p, (6, 5): p, (6, 6): p, (6, 7): p, (7, 0): r, (7, 1): n, (7, 2): b, (7, 3): q, (7, 4): k, (7, 5): b, (7, 6): n, (7, 7): r, (2, 2): P}

c2c4

   a  b  c  d  e  f  g  h
8  r  n  b  q  k  b  n  r
7  p  p  p  p  p  p  p  p
6
5
4        P
3
2  P  P     P  P  P  P  P
1  R  N  B  Q  K  B  N  R

Counter({'p': 8, 'P': 8, '/': 7, '8': 4, 'r': 2, 'n': 2, 'b': 2, 'R': 2, 'N': 2, 'B': 2, 'q': 1, 'k': 1, 'Q': 1, 'K': 1})
g.board.turn='b'
g.board.casteling_rights='KQkq'
g.board.en_passant='c3'
g.board.half_moves=0
g.board.move_number=1
{(0, 0): R, (0, 1): N, (0, 2): B, (0, 3): Q, (0, 4): K, (0, 5): B, (0, 6): N, (0, 7): R, (1, 0): P, (1, 1): P, (1, 3): P, (1, 4): P, (1, 5): P, (1, 6): P, (1, 7): P, (6, 0): p, (6, 1): p, (6, 2): p, (6, 3): p, (6, 4): p, (6, 5): p, (6, 6): p, (6, 7): p, (7, 0): r, (7, 1): n, (7, 2): b, (7, 3): q, (7, 4): k, (7, 5): b, (7, 6): n, (7, 7): r, (3, 2): P}

d2d3

   a  b  c  d  e  f  g  h
8  r  n  b  q  k  b  n  r
7  p  p  p  p  p  p  p  p
6
5
4
3           P
2  P  P  P     P  P  P  P
1  R  N  B  Q  K  B  N  R

Counter({'p': 8, 'P': 8, '/': 7, '8': 4, 'r': 2, 'n': 2, 'b': 2, 'R': 2, 'N': 2, 'B': 2, 'q': 1, 'k': 1, 'Q': 1, 'K': 1})
g.board.turn='b'
g.board.casteling_rights='KQkq'
g.board.en_passant='-'
g.board.half_moves=0
g.board.move_number=1
{(0, 0): R, (0, 1): N, (0, 2): B, (0, 3): Q, (0, 4): K, (0, 5): B, (0, 6): N, (0, 7): R, (1, 0): P, (1, 1): P, (1, 2): P, (1, 4): P, (1, 5): P, (1, 6): P, (1, 7): P, (6, 0): p, (6, 1): p, (6, 2): p, (6, 3): p, (6, 4): p, (6, 5): p, (6, 6): p, (6, 7): p, (7, 0): r, (7, 1): n, (7, 2): b, (7, 3): q, (7, 4): k, (7, 5): b, (7, 6): n, (7, 7): r, (2, 3): P}

d2d4

   a  b  c  d  e  f  g  h
8  r  n  b  q  k  b  n  r
7  p  p  p  p  p  p  p  p
6
5
4           P
3
2  P  P  P     P  P  P  P
1  R  N  B  Q  K  B  N  R

Counter({'p': 8, 'P': 8, '/': 7, '8': 4, 'r': 2, 'n': 2, 'b': 2, 'R': 2, 'N': 2, 'B': 2, 'q': 1, 'k': 1, 'Q': 1, 'K': 1})
g.board.turn='b'
g.board.casteling_rights='KQkq'
g.board.en_passant='d3'
g.board.half_moves=0
g.board.move_number=1
{(0, 0): R, (0, 1): N, (0, 2): B, (0, 3): Q, (0, 4): K, (0, 5): B, (0, 6): N, (0, 7): R, (1, 0): P, (1, 1): P, (1, 2): P, (1, 4): P, (1, 5): P, (1, 6): P, (1, 7): P, (6, 0): p, (6, 1): p, (6, 2): p, (6, 3): p, (6, 4): p, (6, 5): p, (6, 6): p, (6, 7): p, (7, 0): r, (7, 1): n, (7, 2): b, (7, 3): q, (7, 4): k, (7, 5): b, (7, 6): n, (7, 7): r, (3, 3): P}

e2e3

   a  b  c  d  e  f  g  h
8  r  n  b  q  k  b  n  r
7  p  p  p  p  p  p  p  p
6
5
4
3              P
2  P  P  P  P     P  P  P
1  R  N  B  Q  K  B  N  R

Counter({'p': 8, 'P': 8, '/': 7, '8': 4, 'r': 2, 'n': 2, 'b': 2, 'R': 2, 'N': 2, 'B': 2, 'q': 1, 'k': 1, 'Q': 1, 'K': 1})
g.board.turn='b'
g.board.casteling_rights='KQkq'
g.board.en_passant='-'
g.board.half_moves=0
g.board.move_number=1
{(0, 0): R, (0, 1): N, (0, 2): B, (0, 3): Q, (0, 4): K, (0, 5): B, (0, 6): N, (0, 7): R, (1, 0): P, (1, 1): P, (1, 2): P, (1, 3): P, (1, 5): P, (1, 6): P, (1, 7): P, (6, 0): p, (6, 1): p, (6, 2): p, (6, 3): p, (6, 4): p, (6, 5): p, (6, 6): p, (6, 7): p, (7, 0): r, (7, 1): n, (7, 2): b, (7, 3): q, (7, 4): k, (7, 5): b, (7, 6): n, (7, 7): r, (2, 4): P}

e2e4

   a  b  c  d  e  f  g  h
8  r  n  b  q  k  b  n  r
7  p  p  p  p  p  p  p  p
6
5
4              P
3
2  P  P  P  P     P  P  P
1  R  N  B  Q  K  B  N  R

Counter({'p': 8, 'P': 8, '/': 7, '8': 4, 'r': 2, 'n': 2, 'b': 2, 'R': 2, 'N': 2, 'B': 2, 'q': 1, 'k': 1, 'Q': 1, 'K': 1})
g.board.turn='b'
g.board.casteling_rights='KQkq'
g.board.en_passant='e3'
g.board.half_moves=0
g.board.move_number=1
{(0, 0): R, (0, 1): N, (0, 2): B, (0, 3): Q, (0, 4): K, (0, 5): B, (0, 6): N, (0, 7): R, (1, 0): P, (1, 1): P, (1, 2): P, (1, 3): P, (1, 5): P, (1, 6): P, (1, 7): P, (6, 0): p, (6, 1): p, (6, 2): p, (6, 3): p, (6, 4): p, (6, 5): p, (6, 6): p, (6, 7): p, (7, 0): r, (7, 1): n, (7, 2): b, (7, 3): q, (7, 4): k, (7, 5): b, (7, 6): n, (7, 7): r, (3, 4): P}

f2f3

   a  b  c  d  e  f  g  h
8  r  n  b  q  k  b  n  r
7  p  p  p  p  p  p  p  p
6
5
4
3                 P
2  P  P  P  P  P     P  P
1  R  N  B  Q  K  B  N  R

Counter({'p': 8, 'P': 8, '/': 7, '8': 4, 'r': 2, 'n': 2, 'b': 2, 'R': 2, 'N': 2, 'B': 2, 'q': 1, 'k': 1, 'Q': 1, 'K': 1})
g.board.turn='b'
g.board.casteling_rights='KQkq'
g.board.en_passant='-'
g.board.half_moves=0
g.board.move_number=1
{(0, 0): R, (0, 1): N, (0, 2): B, (0, 3): Q, (0, 4): K, (0, 5): B, (0, 6): N, (0, 7): R, (1, 0): P, (1, 1): P, (1, 2): P, (1, 3): P, (1, 4): P, (1, 6): P, (1, 7): P, (6, 0): p, (6, 1): p, (6, 2): p, (6, 3): p, (6, 4): p, (6, 5): p, (6, 6): p, (6, 7): p, (7, 0): r, (7, 1): n, (7, 2): b, (7, 3): q, (7, 4): k, (7, 5): b, (7, 6): n, (7, 7): r, (2, 5): P}

f2f4

   a  b  c  d  e  f  g  h
8  r  n  b  q  k  b  n  r
7  p  p  p  p  p  p  p  p
6
5
4                 P
3
2  P  P  P  P  P     P  P
1  R  N  B  Q  K  B  N  R

Counter({'p': 8, 'P': 8, '/': 7, '8': 4, 'r': 2, 'n': 2, 'b': 2, 'R': 2, 'N': 2, 'B': 2, 'q': 1, 'k': 1, 'Q': 1, 'K': 1})
g.board.turn='b'
g.board.casteling_rights='KQkq'
g.board.en_passant='f3'
g.board.half_moves=0
g.board.move_number=1
{(0, 0): R, (0, 1): N, (0, 2): B, (0, 3): Q, (0, 4): K, (0, 5): B, (0, 6): N, (0, 7): R, (1, 0): P, (1, 1): P, (1, 2): P, (1, 3): P, (1, 4): P, (1, 6): P, (1, 7): P, (6, 0): p, (6, 1): p, (6, 2): p, (6, 3): p, (6, 4): p, (6, 5): p, (6, 6): p, (6, 7): p, (7, 0): r, (7, 1): n, (7, 2): b, (7, 3): q, (7, 4): k, (7, 5): b, (7, 6): n, (7, 7): r, (3, 5): P}

g2g3

   a  b  c  d  e  f  g  h
8  r  n  b  q  k  b  n  r
7  p  p  p  p  p  p  p  p
6
5
4
3                    P
2  P  P  P  P  P  P     P
1  R  N  B  Q  K  B  N  R

Counter({'p': 8, 'P': 8, '/': 7, '8': 4, 'r': 2, 'n': 2, 'b': 2, 'R': 2, 'N': 2, 'B': 2, 'q': 1, 'k': 1, 'Q': 1, 'K': 1})
g.board.turn='b'
g.board.casteling_rights='KQkq'
g.board.en_passant='-'
g.board.half_moves=0
g.board.move_number=1
{(0, 0): R, (0, 1): N, (0, 2): B, (0, 3): Q, (0, 4): K, (0, 5): B, (0, 6): N, (0, 7): R, (1, 0): P, (1, 1): P, (1, 2): P, (1, 3): P, (1, 4): P, (1, 5): P, (1, 7): P, (6, 0): p, (6, 1): p, (6, 2): p, (6, 3): p, (6, 4): p, (6, 5): p, (6, 6): p, (6, 7): p, (7, 0): r, (7, 1): n, (7, 2): b, (7, 3): q, (7, 4): k, (7, 5): b, (7, 6): n, (7, 7): r, (2, 6): P}

g2g4

   a  b  c  d  e  f  g  h
8  r  n  b  q  k  b  n  r
7  p  p  p  p  p  p  p  p
6
5
4                    P
3
2  P  P  P  P  P  P     P
1  R  N  B  Q  K  B  N  R

Counter({'p': 8, 'P': 8, '/': 7, '8': 4, 'r': 2, 'n': 2, 'b': 2, 'R': 2, 'N': 2, 'B': 2, 'q': 1, 'k': 1, 'Q': 1, 'K': 1})
g.board.turn='b'
g.board.casteling_rights='KQkq'
g.board.en_passant='g3'
g.board.half_moves=0
g.board.move_number=1
{(0, 0): R, (0, 1): N, (0, 2): B, (0, 3): Q, (0, 4): K, (0, 5): B, (0, 6): N, (0, 7): R, (1, 0): P, (1, 1): P, (1, 2): P, (1, 3): P, (1, 4): P, (1, 5): P, (1, 7): P, (6, 0): p, (6, 1): p, (6, 2): p, (6, 3): p, (6, 4): p, (6, 5): p, (6, 6): p, (6, 7): p, (7, 0): r, (7, 1): n, (7, 2): b, (7, 3): q, (7, 4): k, (7, 5): b, (7, 6): n, (7, 7): r, (3, 6): P}

h2h3

   a  b  c  d  e  f  g  h
8  r  n  b  q  k  b  n  r
7  p  p  p  p  p  p  p  p
6
5
4
3                       P
2  P  P  P  P  P  P  P
1  R  N  B  Q  K  B  N  R

Counter({'p': 8, 'P': 8, '/': 7, '8': 4, 'r': 2, 'n': 2, 'b': 2, 'R': 2, 'N': 2, 'B': 2, 'q': 1, 'k': 1, 'Q': 1, 'K': 1})
g.board.turn='b'
g.board.casteling_rights='KQkq'
g.board.en_passant='-'
g.board.half_moves=0
g.board.move_number=1
{(0, 0): R, (0, 1): N, (0, 2): B, (0, 3): Q, (0, 4): K, (0, 5): B, (0, 6): N, (0, 7): R, (1, 0): P, (1, 1): P, (1, 2): P, (1, 3): P, (1, 4): P, (1, 5): P, (1, 6): P, (6, 0): p, (6, 1): p, (6, 2): p, (6, 3): p, (6, 4): p, (6, 5): p, (6, 6): p, (6, 7): p, (7, 0): r, (7, 1): n, (7, 2): b, (7, 3): q, (7, 4): k, (7, 5): b, (7, 6): n, (7, 7): r, (2, 7): P}

h2h4

   a  b  c  d  e  f  g  h
8  r  n  b  q  k  b  n  r
7  p  p  p  p  p  p  p  p
6
5
4                       P
3
2  P  P  P  P  P  P  P
1  R  N  B  Q  K  B  N  R

Counter({'p': 8, 'P': 8, '/': 7, '8': 4, 'r': 2, 'n': 2, 'b': 2, 'R': 2, 'N': 2, 'B': 2, 'q': 1, 'k': 1, 'Q': 1, 'K': 1})
g.board.turn='b'
g.board.casteling_rights='KQkq'
g.board.en_passant='h3'
g.board.half_moves=0
g.board.move_number=1
{(0, 0): R, (0, 1): N, (0, 2): B, (0, 3): Q, (0, 4): K, (0, 5): B, (0, 6): N, (0, 7): R, (1, 0): P, (1, 1): P, (1, 2): P, (1, 3): P, (1, 4): P, (1, 5): P, (1, 6): P, (6, 0): p, (6, 1): p, (6, 2): p, (6, 3): p, (6, 4): p, (6, 5): p, (6, 6): p, (6, 7): p, (7, 0): r, (7, 1): n, (7, 2): b, (7, 3): q, (7, 4): k, (7, 5): b, (7, 6): n, (7, 7): r, (3, 7): P}

In [7]:
%%time

for m, g in game.available_moves():
    print(m)

b1a3
b1c3
g1f3
g1h3
a2a3
a2a4
b2b3
b2b4
c2c3
c2c4
d2d3
d2d4
e2e3
e2e4
f2f3
f2f4
g2g3
g2g4
h2h3
h2h4
CPU times: user 3.2 ms, sys: 0 ns, total: 3.2 ms
Wall time: 3.19 ms