In [17]:
%load_ext autoreload

%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [23]:
from ajedrez import Game

In [43]:
game = Game.from_fen()

In [44]:
game

Board(turn='w', casteling='KQkq', en_passant='-', half_moves=0, move_number=1, stats=Counter({'p': 8, 'P': 8, '/': 7, '8': 4, 'r': 2, 'n': 2, 'b': 2, 'R': 2, 'N': 2, 'B': 2, 'q': 1, 'k': 1, 'Q': 1, 'K': 1}), piece_placement=array([['r', 'n', 'b', 'q', 'k', 'b', 'n', 'r'],
       ['p', 'p', 'p', 'p', 'p', 'p', 'p', 'p'],
       [' ', ' ', ' ', ' ', ' ', ' ', ' ', ' '],
       [' ', ' ', ' ', ' ', ' ', ' ', ' ', ' '],
       [' ', ' ', ' ', ' ', ' ', ' ', ' ', ' '],
       [' ', ' ', ' ', ' ', ' ', ' ', ' ', ' '],
       ['P', 'P', 'P', 'P', 'P', 'P', 'P', 'P'],
       ['R', 'N', 'B', 'Q', 'K', 'B', 'N', 'R']], dtype='<U1'), location_to_piece={(0, 0): r, (0, 1): n, (0, 2): b, (0, 3): q, (0, 4): k, (0, 5): b, (0, 6): n, (0, 7): r, (1, 0): p, (1, 1): p, (1, 2): p, (1, 3): p, (1, 4): p, (1, 5): p, (1, 6): p, (1, 7): p, (6, 0): P, (6, 1): P, (6, 2): P, (6, 3): P, (6, 4): P, (6, 5): P, (6, 6): P, (6, 7): P, (7, 0): R, (7, 1): N, (7, 2): B, (7, 3): Q, (7, 4): K, (7, 5): B, (7, 6): N, (7, 7): R})

In [53]:
game.board.simple_heuristic()

(38.0, 38.0)

In [56]:
import pandas as pd
from IPython.display import display

for m, g in game.available_moves():
    print(m)
    print()
    display(pd.DataFrame(g.board.piece_placement))
    print()
    print(g.board.stats)
    print(f'{g.board.turn=}')
    print(f'{g.board.casteling=}')
    print(f'{g.board.en_passant=}')
    print(f'{g.board.half_moves=}')
    print(f'{g.board.move_number=}')
    print(g.board.location_to_piece)

(0, 1, 2, 0, 'n')

   0  1  2  3  4  5  6  7
0  r     b  q  k  b  n  r
1  p  p  p  p  p  p  p  p
2  n
3
4
5
6  P  P  P  P  P  P  P  P
7  R  N  B  Q  K  B  N  R

Counter({'p': 8, 'P': 8, '/': 7, '8': 4, 'r': 2, 'n': 2, 'b': 2, 'R': 2, 'N': 2, 'B': 2, 'q': 1, 'k': 1, 'Q': 1, 'K': 1})
g.board.turn='b'
g.board.casteling='KQkq'
g.board.en_passant='-'
g.board.half_moves=0
g.board.move_number=1
{(0, 0): r, (0, 2): b, (0, 3): q, (0, 4): k, (0, 5): b, (0, 6): n, (0, 7): r, (1, 0): p, (1, 1): p, (1, 2): p, (1, 3): p, (1, 4): p, (1, 5): p, (1, 6): p, (1, 7): p, (6, 0): P, (6, 1): P, (6, 2): P, (6, 3): P, (6, 4): P, (6, 5): P, (6, 6): P, (6, 7): P, (7, 0): R, (7, 1): N, (7, 2): B, (7, 3): Q, (7, 4): K, (7, 5): B, (7, 6): N, (7, 7): R, (2, 0): n}
(0, 1, 2, 2, 'n')

   0  1  2  3  4  5  6  7
0  r     b  q  k  b  n  r
1  p  p  p  p  p  p  p  p
2        n
3
4
5
6  P  P  P  P  P  P  P  P
7  R  N  B  Q  K  B  N  R

Counter({'p': 8, 'P': 8, '/': 7, '8': 4, 'r': 2, 'n': 2, 'b': 2, 'R': 2, 'N': 2, 'B': 2, 'q': 1, 'k': 1, 'Q': 1, 'K': 1})
g.board.turn='b'
g.board.casteling='KQkq'
g.board.en_passant='-'
g.board.half_moves=0
g.board.move_number=1
{(0, 0): r, (0, 2): b, (0, 3): q, (0, 4): k, (0, 5): b, (0, 6): n, (0, 7): r, (1, 0): p, (1, 1): p, (1, 2): p, (1, 3): p, (1, 4): p, (1, 5): p, (1, 6): p, (1, 7): p, (6, 0): P, (6, 1): P, (6, 2): P, (6, 3): P, (6, 4): P, (6, 5): P, (6, 6): P, (6, 7): P, (7, 0): R, (7, 1): N, (7, 2): B, (7, 3): Q, (7, 4): K, (7, 5): B, (7, 6): N, (7, 7): R, (2, 2): n}
(0, 6, 2, 5, 'n')

   0  1  2  3  4  5  6  7
0  r  n  b  q  k  b     r
1  p  p  p  p  p  p  p  p
2                 n
3
4
5
6  P  P  P  P  P  P  P  P
7  R  N  B  Q  K  B  N  R

Counter({'p': 8, 'P': 8, '/': 7, '8': 4, 'r': 2, 'n': 2, 'b': 2, 'R': 2, 'N': 2, 'B': 2, 'q': 1, 'k': 1, 'Q': 1, 'K': 1})
g.board.turn='b'
g.board.casteling='KQkq'
g.board.en_passant='-'
g.board.half_moves=0
g.board.move_number=1
{(0, 0): r, (0, 1): n, (0, 2): b, (0, 3): q, (0, 4): k, (0, 5): b, (0, 7): r, (1, 0): p, (1, 1): p, (1, 2): p, (1, 3): p, (1, 4): p, (1, 5): p, (1, 6): p, (1, 7): p, (6, 0): P, (6, 1): P, (6, 2): P, (6, 3): P, (6, 4): P, (6, 5): P, (6, 6): P, (6, 7): P, (7, 0): R, (7, 1): N, (7, 2): B, (7, 3): Q, (7, 4): K, (7, 5): B, (7, 6): N, (7, 7): R, (2, 5): n}
(0, 6, 2, 7, 'n')

   0  1  2  3  4  5  6  7
0  r  n  b  q  k  b     r
1  p  p  p  p  p  p  p  p
2                       n
3
4
5
6  P  P  P  P  P  P  P  P
7  R  N  B  Q  K  B  N  R

Counter({'p': 8, 'P': 8, '/': 7, '8': 4, 'r': 2, 'n': 2, 'b': 2, 'R': 2, 'N': 2, 'B': 2, 'q': 1, 'k': 1, 'Q': 1, 'K': 1})
g.board.turn='b'
g.board.casteling='KQkq'
g.board.en_passant='-'
g.board.half_moves=0
g.board.move_number=1
{(0, 0): r, (0, 1): n, (0, 2): b, (0, 3): q, (0, 4): k, (0, 5): b, (0, 7): r, (1, 0): p, (1, 1): p, (1, 2): p, (1, 3): p, (1, 4): p, (1, 5): p, (1, 6): p, (1, 7): p, (6, 0): P, (6, 1): P, (6, 2): P, (6, 3): P, (6, 4): P, (6, 5): P, (6, 6): P, (6, 7): P, (7, 0): R, (7, 1): N, (7, 2): B, (7, 3): Q, (7, 4): K, (7, 5): B, (7, 6): N, (7, 7): R, (2, 7): n}
(1, 0, 2, 0, 'p')

   0  1  2  3  4  5  6  7
0  r  n  b  q  k  b  n  r
1     p  p  p  p  p  p  p
2  p
3
4
5
6  P  P  P  P  P  P  P  P
7  R  N  B  Q  K  B  N  R

Counter({'p': 8, 'P': 8, '/': 7, '8': 4, 'r': 2, 'n': 2, 'b': 2, 'R': 2, 'N': 2, 'B': 2, 'q': 1, 'k': 1, 'Q': 1, 'K': 1})
g.board.turn='b'
g.board.casteling='KQkq'
g.board.en_passant='-'
g.board.half_moves=0
g.board.move_number=1
{(0, 0): r, (0, 1): n, (0, 2): b, (0, 3): q, (0, 4): k, (0, 5): b, (0, 6): n, (0, 7): r, (1, 1): p, (1, 2): p, (1, 3): p, (1, 4): p, (1, 5): p, (1, 6): p, (1, 7): p, (6, 0): P, (6, 1): P, (6, 2): P, (6, 3): P, (6, 4): P, (6, 5): P, (6, 6): P, (6, 7): P, (7, 0): R, (7, 1): N, (7, 2): B, (7, 3): Q, (7, 4): K, (7, 5): B, (7, 6): N, (7, 7): R, (2, 0): p}
(1, 0, 3, 0, 'p')

   0  1  2  3  4  5  6  7
0  r  n  b  q  k  b  n  r
1     p  p  p  p  p  p  p
2
3  p
4
5
6  P  P  P  P  P  P  P  P
7  R  N  B  Q  K  B  N  R

Counter({'p': 8, 'P': 8, '/': 7, '8': 4, 'r': 2, 'n': 2, 'b': 2, 'R': 2, 'N': 2, 'B': 2, 'q': 1, 'k': 1, 'Q': 1, 'K': 1})
g.board.turn='b'
g.board.casteling='KQkq'
g.board.en_passant='-'
g.board.half_moves=0
g.board.move_number=1
{(0, 0): r, (0, 1): n, (0, 2): b, (0, 3): q, (0, 4): k, (0, 5): b, (0, 6): n, (0, 7): r, (1, 1): p, (1, 2): p, (1, 3): p, (1, 4): p, (1, 5): p, (1, 6): p, (1, 7): p, (6, 0): P, (6, 1): P, (6, 2): P, (6, 3): P, (6, 4): P, (6, 5): P, (6, 6): P, (6, 7): P, (7, 0): R, (7, 1): N, (7, 2): B, (7, 3): Q, (7, 4): K, (7, 5): B, (7, 6): N, (7, 7): R, (3, 0): p}
(1, 1, 2, 1, 'p')

   0  1  2  3  4  5  6  7
0  r  n  b  q  k  b  n  r
1  p     p  p  p  p  p  p
2     p
3
4
5
6  P  P  P  P  P  P  P  P
7  R  N  B  Q  K  B  N  R

Counter({'p': 8, 'P': 8, '/': 7, '8': 4, 'r': 2, 'n': 2, 'b': 2, 'R': 2, 'N': 2, 'B': 2, 'q': 1, 'k': 1, 'Q': 1, 'K': 1})
g.board.turn='b'
g.board.casteling='KQkq'
g.board.en_passant='-'
g.board.half_moves=0
g.board.move_number=1
{(0, 0): r, (0, 1): n, (0, 2): b, (0, 3): q, (0, 4): k, (0, 5): b, (0, 6): n, (0, 7): r, (1, 0): p, (1, 2): p, (1, 3): p, (1, 4): p, (1, 5): p, (1, 6): p, (1, 7): p, (6, 0): P, (6, 1): P, (6, 2): P, (6, 3): P, (6, 4): P, (6, 5): P, (6, 6): P, (6, 7): P, (7, 0): R, (7, 1): N, (7, 2): B, (7, 3): Q, (7, 4): K, (7, 5): B, (7, 6): N, (7, 7): R, (2, 1): p}
(1, 1, 3, 1, 'p')

   0  1  2  3  4  5  6  7
0  r  n  b  q  k  b  n  r
1  p     p  p  p  p  p  p
2
3     p
4
5
6  P  P  P  P  P  P  P  P
7  R  N  B  Q  K  B  N  R

Counter({'p': 8, 'P': 8, '/': 7, '8': 4, 'r': 2, 'n': 2, 'b': 2, 'R': 2, 'N': 2, 'B': 2, 'q': 1, 'k': 1, 'Q': 1, 'K': 1})
g.board.turn='b'
g.board.casteling='KQkq'
g.board.en_passant='-'
g.board.half_moves=0
g.board.move_number=1
{(0, 0): r, (0, 1): n, (0, 2): b, (0, 3): q, (0, 4): k, (0, 5): b, (0, 6): n, (0, 7): r, (1, 0): p, (1, 2): p, (1, 3): p, (1, 4): p, (1, 5): p, (1, 6): p, (1, 7): p, (6, 0): P, (6, 1): P, (6, 2): P, (6, 3): P, (6, 4): P, (6, 5): P, (6, 6): P, (6, 7): P, (7, 0): R, (7, 1): N, (7, 2): B, (7, 3): Q, (7, 4): K, (7, 5): B, (7, 6): N, (7, 7): R, (3, 1): p}
(1, 2, 2, 2, 'p')

   0  1  2  3  4  5  6  7
0  r  n  b  q  k  b  n  r
1  p  p     p  p  p  p  p
2        p
3
4
5
6  P  P  P  P  P  P  P  P
7  R  N  B  Q  K  B  N  R

Counter({'p': 8, 'P': 8, '/': 7, '8': 4, 'r': 2, 'n': 2, 'b': 2, 'R': 2, 'N': 2, 'B': 2, 'q': 1, 'k': 1, 'Q': 1, 'K': 1})
g.board.turn='b'
g.board.casteling='KQkq'
g.board.en_passant='-'
g.board.half_moves=0
g.board.move_number=1
{(0, 0): r, (0, 1): n, (0, 2): b, (0, 3): q, (0, 4): k, (0, 5): b, (0, 6): n, (0, 7): r, (1, 0): p, (1, 1): p, (1, 3): p, (1, 4): p, (1, 5): p, (1, 6): p, (1, 7): p, (6, 0): P, (6, 1): P, (6, 2): P, (6, 3): P, (6, 4): P, (6, 5): P, (6, 6): P, (6, 7): P, (7, 0): R, (7, 1): N, (7, 2): B, (7, 3): Q, (7, 4): K, (7, 5): B, (7, 6): N, (7, 7): R, (2, 2): p}
(1, 2, 3, 2, 'p')

   0  1  2  3  4  5  6  7
0  r  n  b  q  k  b  n  r
1  p  p     p  p  p  p  p
2
3        p
4
5
6  P  P  P  P  P  P  P  P
7  R  N  B  Q  K  B  N  R

Counter({'p': 8, 'P': 8, '/': 7, '8': 4, 'r': 2, 'n': 2, 'b': 2, 'R': 2, 'N': 2, 'B': 2, 'q': 1, 'k': 1, 'Q': 1, 'K': 1})
g.board.turn='b'
g.board.casteling='KQkq'
g.board.en_passant='-'
g.board.half_moves=0
g.board.move_number=1
{(0, 0): r, (0, 1): n, (0, 2): b, (0, 3): q, (0, 4): k, (0, 5): b, (0, 6): n, (0, 7): r, (1, 0): p, (1, 1): p, (1, 3): p, (1, 4): p, (1, 5): p, (1, 6): p, (1, 7): p, (6, 0): P, (6, 1): P, (6, 2): P, (6, 3): P, (6, 4): P, (6, 5): P, (6, 6): P, (6, 7): P, (7, 0): R, (7, 1): N, (7, 2): B, (7, 3): Q, (7, 4): K, (7, 5): B, (7, 6): N, (7, 7): R, (3, 2): p}
(1, 3, 2, 3, 'p')

   0  1  2  3  4  5  6  7
0  r  n  b  q  k  b  n  r
1  p  p  p     p  p  p  p
2           p
3
4
5
6  P  P  P  P  P  P  P  P
7  R  N  B  Q  K  B  N  R

Counter({'p': 8, 'P': 8, '/': 7, '8': 4, 'r': 2, 'n': 2, 'b': 2, 'R': 2, 'N': 2, 'B': 2, 'q': 1, 'k': 1, 'Q': 1, 'K': 1})
g.board.turn='b'
g.board.casteling='KQkq'
g.board.en_passant='-'
g.board.half_moves=0
g.board.move_number=1
{(0, 0): r, (0, 1): n, (0, 2): b, (0, 3): q, (0, 4): k, (0, 5): b, (0, 6): n, (0, 7): r, (1, 0): p, (1, 1): p, (1, 2): p, (1, 4): p, (1, 5): p, (1, 6): p, (1, 7): p, (6, 0): P, (6, 1): P, (6, 2): P, (6, 3): P, (6, 4): P, (6, 5): P, (6, 6): P, (6, 7): P, (7, 0): R, (7, 1): N, (7, 2): B, (7, 3): Q, (7, 4): K, (7, 5): B, (7, 6): N, (7, 7): R, (2, 3): p}
(1, 3, 3, 3, 'p')

   0  1  2  3  4  5  6  7
0  r  n  b  q  k  b  n  r
1  p  p  p     p  p  p  p
2
3           p
4
5
6  P  P  P  P  P  P  P  P
7  R  N  B  Q  K  B  N  R

Counter({'p': 8, 'P': 8, '/': 7, '8': 4, 'r': 2, 'n': 2, 'b': 2, 'R': 2, 'N': 2, 'B': 2, 'q': 1, 'k': 1, 'Q': 1, 'K': 1})
g.board.turn='b'
g.board.casteling='KQkq'
g.board.en_passant='-'
g.board.half_moves=0
g.board.move_number=1
{(0, 0): r, (0, 1): n, (0, 2): b, (0, 3): q, (0, 4): k, (0, 5): b, (0, 6): n, (0, 7): r, (1, 0): p, (1, 1): p, (1, 2): p, (1, 4): p, (1, 5): p, (1, 6): p, (1, 7): p, (6, 0): P, (6, 1): P, (6, 2): P, (6, 3): P, (6, 4): P, (6, 5): P, (6, 6): P, (6, 7): P, (7, 0): R, (7, 1): N, (7, 2): B, (7, 3): Q, (7, 4): K, (7, 5): B, (7, 6): N, (7, 7): R, (3, 3): p}
(1, 4, 2, 4, 'p')

   0  1  2  3  4  5  6  7
0  r  n  b  q  k  b  n  r
1  p  p  p  p     p  p  p
2              p
3
4
5
6  P  P  P  P  P  P  P  P
7  R  N  B  Q  K  B  N  R

Counter({'p': 8, 'P': 8, '/': 7, '8': 4, 'r': 2, 'n': 2, 'b': 2, 'R': 2, 'N': 2, 'B': 2, 'q': 1, 'k': 1, 'Q': 1, 'K': 1})
g.board.turn='b'
g.board.casteling='KQkq'
g.board.en_passant='-'
g.board.half_moves=0
g.board.move_number=1
{(0, 0): r, (0, 1): n, (0, 2): b, (0, 3): q, (0, 4): k, (0, 5): b, (0, 6): n, (0, 7): r, (1, 0): p, (1, 1): p, (1, 2): p, (1, 3): p, (1, 5): p, (1, 6): p, (1, 7): p, (6, 0): P, (6, 1): P, (6, 2): P, (6, 3): P, (6, 4): P, (6, 5): P, (6, 6): P, (6, 7): P, (7, 0): R, (7, 1): N, (7, 2): B, (7, 3): Q, (7, 4): K, (7, 5): B, (7, 6): N, (7, 7): R, (2, 4): p}
(1, 4, 3, 4, 'p')

   0  1  2  3  4  5  6  7
0  r  n  b  q  k  b  n  r
1  p  p  p  p     p  p  p
2
3              p
4
5
6  P  P  P  P  P  P  P  P
7  R  N  B  Q  K  B  N  R

Counter({'p': 8, 'P': 8, '/': 7, '8': 4, 'r': 2, 'n': 2, 'b': 2, 'R': 2, 'N': 2, 'B': 2, 'q': 1, 'k': 1, 'Q': 1, 'K': 1})
g.board.turn='b'
g.board.casteling='KQkq'
g.board.en_passant='-'
g.board.half_moves=0
g.board.move_number=1
{(0, 0): r, (0, 1): n, (0, 2): b, (0, 3): q, (0, 4): k, (0, 5): b, (0, 6): n, (0, 7): r, (1, 0): p, (1, 1): p, (1, 2): p, (1, 3): p, (1, 5): p, (1, 6): p, (1, 7): p, (6, 0): P, (6, 1): P, (6, 2): P, (6, 3): P, (6, 4): P, (6, 5): P, (6, 6): P, (6, 7): P, (7, 0): R, (7, 1): N, (7, 2): B, (7, 3): Q, (7, 4): K, (7, 5): B, (7, 6): N, (7, 7): R, (3, 4): p}
(1, 5, 2, 5, 'p')

   0  1  2  3  4  5  6  7
0  r  n  b  q  k  b  n  r
1  p  p  p  p  p     p  p
2                 p
3
4
5
6  P  P  P  P  P  P  P  P
7  R  N  B  Q  K  B  N  R

Counter({'p': 8, 'P': 8, '/': 7, '8': 4, 'r': 2, 'n': 2, 'b': 2, 'R': 2, 'N': 2, 'B': 2, 'q': 1, 'k': 1, 'Q': 1, 'K': 1})
g.board.turn='b'
g.board.casteling='KQkq'
g.board.en_passant='-'
g.board.half_moves=0
g.board.move_number=1
{(0, 0): r, (0, 1): n, (0, 2): b, (0, 3): q, (0, 4): k, (0, 5): b, (0, 6): n, (0, 7): r, (1, 0): p, (1, 1): p, (1, 2): p, (1, 3): p, (1, 4): p, (1, 6): p, (1, 7): p, (6, 0): P, (6, 1): P, (6, 2): P, (6, 3): P, (6, 4): P, (6, 5): P, (6, 6): P, (6, 7): P, (7, 0): R, (7, 1): N, (7, 2): B, (7, 3): Q, (7, 4): K, (7, 5): B, (7, 6): N, (7, 7): R, (2, 5): p}
(1, 5, 3, 5, 'p')

   0  1  2  3  4  5  6  7
0  r  n  b  q  k  b  n  r
1  p  p  p  p  p     p  p
2
3                 p
4
5
6  P  P  P  P  P  P  P  P
7  R  N  B  Q  K  B  N  R

Counter({'p': 8, 'P': 8, '/': 7, '8': 4, 'r': 2, 'n': 2, 'b': 2, 'R': 2, 'N': 2, 'B': 2, 'q': 1, 'k': 1, 'Q': 1, 'K': 1})
g.board.turn='b'
g.board.casteling='KQkq'
g.board.en_passant='-'
g.board.half_moves=0
g.board.move_number=1
{(0, 0): r, (0, 1): n, (0, 2): b, (0, 3): q, (0, 4): k, (0, 5): b, (0, 6): n, (0, 7): r, (1, 0): p, (1, 1): p, (1, 2): p, (1, 3): p, (1, 4): p, (1, 6): p, (1, 7): p, (6, 0): P, (6, 1): P, (6, 2): P, (6, 3): P, (6, 4): P, (6, 5): P, (6, 6): P, (6, 7): P, (7, 0): R, (7, 1): N, (7, 2): B, (7, 3): Q, (7, 4): K, (7, 5): B, (7, 6): N, (7, 7): R, (3, 5): p}
(1, 6, 2, 6, 'p')

   0  1  2  3  4  5  6  7
0  r  n  b  q  k  b  n  r
1  p  p  p  p  p  p     p
2                    p
3
4
5
6  P  P  P  P  P  P  P  P
7  R  N  B  Q  K  B  N  R

Counter({'p': 8, 'P': 8, '/': 7, '8': 4, 'r': 2, 'n': 2, 'b': 2, 'R': 2, 'N': 2, 'B': 2, 'q': 1, 'k': 1, 'Q': 1, 'K': 1})
g.board.turn='b'
g.board.casteling='KQkq'
g.board.en_passant='-'
g.board.half_moves=0
g.board.move_number=1
{(0, 0): r, (0, 1): n, (0, 2): b, (0, 3): q, (0, 4): k, (0, 5): b, (0, 6): n, (0, 7): r, (1, 0): p, (1, 1): p, (1, 2): p, (1, 3): p, (1, 4): p, (1, 5): p, (1, 7): p, (6, 0): P, (6, 1): P, (6, 2): P, (6, 3): P, (6, 4): P, (6, 5): P, (6, 6): P, (6, 7): P, (7, 0): R, (7, 1): N, (7, 2): B, (7, 3): Q, (7, 4): K, (7, 5): B, (7, 6): N, (7, 7): R, (2, 6): p}
(1, 6, 3, 6, 'p')

   0  1  2  3  4  5  6  7
0  r  n  b  q  k  b  n  r
1  p  p  p  p  p  p     p
2
3                    p
4
5
6  P  P  P  P  P  P  P  P
7  R  N  B  Q  K  B  N  R

Counter({'p': 8, 'P': 8, '/': 7, '8': 4, 'r': 2, 'n': 2, 'b': 2, 'R': 2, 'N': 2, 'B': 2, 'q': 1, 'k': 1, 'Q': 1, 'K': 1})
g.board.turn='b'
g.board.casteling='KQkq'
g.board.en_passant='-'
g.board.half_moves=0
g.board.move_number=1
{(0, 0): r, (0, 1): n, (0, 2): b, (0, 3): q, (0, 4): k, (0, 5): b, (0, 6): n, (0, 7): r, (1, 0): p, (1, 1): p, (1, 2): p, (1, 3): p, (1, 4): p, (1, 5): p, (1, 7): p, (6, 0): P, (6, 1): P, (6, 2): P, (6, 3): P, (6, 4): P, (6, 5): P, (6, 6): P, (6, 7): P, (7, 0): R, (7, 1): N, (7, 2): B, (7, 3): Q, (7, 4): K, (7, 5): B, (7, 6): N, (7, 7): R, (3, 6): p}
(1, 7, 2, 7, 'p')

   0  1  2  3  4  5  6  7
0  r  n  b  q  k  b  n  r
1  p  p  p  p  p  p  p
2                       p
3
4
5
6  P  P  P  P  P  P  P  P
7  R  N  B  Q  K  B  N  R

Counter({'p': 8, 'P': 8, '/': 7, '8': 4, 'r': 2, 'n': 2, 'b': 2, 'R': 2, 'N': 2, 'B': 2, 'q': 1, 'k': 1, 'Q': 1, 'K': 1})
g.board.turn='b'
g.board.casteling='KQkq'
g.board.en_passant='-'
g.board.half_moves=0
g.board.move_number=1
{(0, 0): r, (0, 1): n, (0, 2): b, (0, 3): q, (0, 4): k, (0, 5): b, (0, 6): n, (0, 7): r, (1, 0): p, (1, 1): p, (1, 2): p, (1, 3): p, (1, 4): p, (1, 5): p, (1, 6): p, (6, 0): P, (6, 1): P, (6, 2): P, (6, 3): P, (6, 4): P, (6, 5): P, (6, 6): P, (6, 7): P, (7, 0): R, (7, 1): N, (7, 2): B, (7, 3): Q, (7, 4): K, (7, 5): B, (7, 6): N, (7, 7): R, (2, 7): p}
(1, 7, 3, 7, 'p')

   0  1  2  3  4  5  6  7
0  r  n  b  q  k  b  n  r
1  p  p  p  p  p  p  p
2
3                       p
4
5
6  P  P  P  P  P  P  P  P
7  R  N  B  Q  K  B  N  R

Counter({'p': 8, 'P': 8, '/': 7, '8': 4, 'r': 2, 'n': 2, 'b': 2, 'R': 2, 'N': 2, 'B': 2, 'q': 1, 'k': 1, 'Q': 1, 'K': 1})
g.board.turn='b'
g.board.casteling='KQkq'
g.board.en_passant='-'
g.board.half_moves=0
g.board.move_number=1
{(0, 0): r, (0, 1): n, (0, 2): b, (0, 3): q, (0, 4): k, (0, 5): b, (0, 6): n, (0, 7): r, (1, 0): p, (1, 1): p, (1, 2): p, (1, 3): p, (1, 4): p, (1, 5): p, (1, 6): p, (6, 0): P, (6, 1): P, (6, 2): P, (6, 3): P, (6, 4): P, (6, 5): P, (6, 6): P, (6, 7): P, (7, 0): R, (7, 1): N, (7, 2): B, (7, 3): Q, (7, 4): K, (7, 5): B, (7, 6): N, (7, 7): R, (3, 7): p}